<!-- footer start -->
<div class="container-fluid bg-danger">
    <div class="container">
         <div class="row">
  
  
              <div class="col-md-4" style="padding: 35px;">
                   <a href="" style="margin-left: -30px;">
                        <img style="width: 250px;" src="image/logo6.png" alt=""><br>
  
                   </a>
                   <span style="padding: 50px 0px 0px 0px;">Ut bacon filet mignon frankfurter venison
                        shank sed quis short ribs lorem. Shank and
                        incididunt ea bacon. doner boudin short loin excepteur pork. belly qui ribeye
                        salami</span><br>
                   <br>
                   <a href=""><i style="font-size: 40px;width: 50px; padding-bottom: 22px;" ;
                             class="fab fa-linkedin text-info"></i></a>
                   <a href=""><i style="font-size: 40px;width: 50px; padding-bottom: 22px;" ;
                             class="fab fa-facebook-square text-info"></i></a>
                   <a href=""><i style="font-size: 40px;width: 50px; padding-bottom: 22px;" ;
                             class="fab fa-twitter text-info "></i></a>
                   <a href=""><i style="font-size: 40px;width: 50px; padding-bottom: 22px;" ;
                             class="fab fa-instagram text-info"></i></a>
              </div>
  
  
  
              <div class="col-md-4 " style="padding: 35px;">
                   <h3>Get In Touch</h3><br>
                   <p><i class="fas fa-map-marker-alt"> &nbsp;2551 Gorakhpur, NY</i><br></p>
                   <p><i class="fas fa-envelope">&nbsp;support@thejustice.com</i><br></p>
                   <p><i class="fas fa-phone">&nbsp;718-250-4467</i><br></p>
                   <p><i class="fas fa-clock">&nbsp;24 hours a day, 7 days a week</i></p>
              </div>
  
              <div class="col-md-4 " style="padding: 35px;">
                   <h3>Opening Hours</h3>
                   <p>Mon - Thu
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        09:00 - 17:00</p>
                   <p>Fri - Sat
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        09:00 - 15:00
  
                   </p>
                   <p>Sunday
                        &nbsp;&nbsp;&nbsp;&nbsp;
  
                        Closed</p>
              </div>
         </div>
    </div>
  </div>
  <div class="mainfooter">
    <div class="container-fluid">
         <div class="row">
  
              <div class="col md-8 text-center">
                   <span class="text-light ">PRIVACY POLICY | TERMS AND CONDITIONS | BLOG</span><br>
                   <span class="text-light ">COPYRIGHT © 2021 FIRST FIDDLE F&B PRIVATE LIMITED</span>
              </div>
  
         </div>
    </div>
  </div>
  
  <!-- footer end -->
  
  
  
  
  </body>
  
  </html>