<%- include('./header.ejs') %>
<br><br>
<div class="header-about">
    <h1>About Us </h1>
</div>

<div class="container section-about">
    <div class="row">
        <div class="col-md-12">
            <h2>B.Tech - Engineering Brilliance</h2>
            <p>Our B.Tech program ignites a passion for engineering and technology. With top-notch facilities and experienced faculty, we empower students to innovate, solve real-world problems, and excel in their chosen engineering disciplines.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>MTech - Mastering Technology for Tomorrow</h2>
            <p>Our MTech program goes beyond conventional education. We offer specialized coursework, cutting-edge research opportunities, and a collaborative atmosphere that encourages students to push the boundaries of technology.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>MBA - Nurturing Leaders for Global Impact</h2>
            <p>Our MBA program is a gateway to leadership excellence. With a focus on strategic thinking, global business perspectives, and hands-on experience, we equip students with the skills needed to navigate the complexities of today's corporate world.</p>
        </div>
    </div>
</div>


<%- include('./footer.ejs') %>