<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <!-- CSS only -->
        <link rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/css/style.css">
        <title>Portal</title>

    </head>

    <body>
        <!-- navigation bar start -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top a">

            <!-- <a href><h3 class="text-info" style="cursor:pointer">PORTAL</h3></a> -->
            <img src="/image/logo.png" class="web-logo">

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">HOME</a>
                    </li>
                   

                    <li class="nav-item">
                        <a href="/course/display" class="nav-link">MY
                            COURCES</a>
                    </li>
                    <li class="nav-item">

                        <a href="/about" class="nav-link">ABOUT US</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a href="/contact" class="nav-link">CONTACT US</a>
                    </li> -->

                </ul>

                <a href="/user_profile"><img style="height: 70px;
                width: 72px;
                margin-right: 15px;
                border-radius: 34px;" src="<%= img.url %>" width="50px"
                        height="50px"
                        alt></a>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"
                        type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <%= n %>
                    </button>
                    <div
                        class="dropdown-menu dropdown-menu bg-secondary"
                        aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item "
                            href="/user_profile">Profile</a><hr>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>

            </div>
        </nav>
        <!-- navigation bar end -->